body {
  background-color: rgb(255, 255, 255);
}
header {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #811322, #da5518);
}

h1 {
  color: rgb(227, 227, 238);
  text-align: center;
  font-style: normal;
}
#menu {
  background-color: rgb(250, 250, 250);
  color: rgba(252, 140, 88, 0.974);
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: 366px;
  width: 583px;
}
#copy {
  background-color: rgba(208, 22, 22, 0.664);
  text-align: center;
}
